In [6]:
from __future__ import division

import warnings
warnings.filterwarnings('ignore')
%config InlineBackend.figure_format = 'retina'
%pylab inline

import numpy as np
import pandas as pd

import sql  # the patched version (file is named sql.py)
from sqlalchemy import create_engine


import time
from datetime import datetime



import psycopg2 as ps
from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT
from psycopg2.extensions import AsIs

import os
from os import listdir
from os.path import isfile, join

Populating the interactive namespace from numpy and matplotlib

In [9]:
### Read Data
scalingData = pd.read_csv('/home/massaro/Dropbox (MIT)/HERUS_Lab/Data/Brazil/brScaling.csv' )
header = list(scalingData.columns.values) ### name of the columns
scalingData.head(5)

,idOfMunicipality,abbreviationOfState,nameOfMunicipality,numberOfInhabitants,surfaceOfAdministrativeArea_km2,GrossDomesticProduct_brReaisPerYear,LenghtOfStreetNetwork_thousandKm,populationDensity_inhabitantsPerkm2,numberOfHealthFacilities,numberOfHospitalBeds,...,volumeOfColectedSewage_km3PerYear,frequencyOfSamplingOfSewageEffluent,numberOfUrbanInhabitantsServedByWasteCollection,numberOfScavengersInWasteCollection,totalMassOfWasteCollected_tonsPerYear,numberOfWasteCollectionTrucks,wasteCollectionRevenue_brReaisPeryear,numberOfWorkersInWasteCollection,lengthOfSidewalkSwept_kmPerYear,abbreviationOfRegion
0,110001,RO,Alta Floresta D'Oeste,24392,7067.0,149763.908343,0.626889,3.451535,11.0,51.0,...,NaN,58.0,20408.0,0.0,NaN,3.0,995000.00,23.0,NaN,Norte
1,110002,RO,Ariquemes,90353,4426.6,577129.806754,5.019075,20.411377,34.0,234.0,...,NaN,3306.0,68000.0,0.0,NaN,8.0,2260744.99,103.0,1440.0,Norte
2,110003,RO,Cabixi,6313,1314.4,44351.841949,0.741329,4.802952,6.0,25.0,...,NaN,1812.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Norte
3,110004,RO,Cacoal,78574,3792.8,521357.786910,3.412823,20.716621,30.0,178.0,...,1131.08,1205.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Norte
4,110005,RO,Cerejeiras,17029,2783.3,121554.668913,1.596254,6.118277,11.0,150.0,...,NaN,2375.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Norte

In [10]:
def creatDB (dbname, con):
    #dbname DATABASE NAME
    con.set_isolation_level(ISOLATION_LEVEL_AUTOCOMMIT)
    cur = con.cursor()
    statement= """ SELECT 1 from pg_database WHERE datname = "%s"; 
    """%dbname
    cur.execute(statement)
    tmp = cur.fetchall()
    if len(tmp) == 0:  ## if database does not exist, create database
        cur.execute('CREATE DATABASE ' + dbname)
    cur.close()

In [16]:
dbname = 'tempscaling'  #DATABASE NAME
con.set_isolation_level(ISOLATION_LEVEL_AUTOCOMMIT)
cur = con.cursor()

statement= """ SELECT 1 from pg_database WHERE datname = '%s'; 
""" %dbname
cur.execute(statement)
cur.execute('CREATE DATABASE ' + dbname)
cur.close()
con.close()

In [19]:
### Create Temporary Table With all the columns from the .csv
con = None
con = ps.connect(dbname = dbname, user='postgres', host='localhost', password='Emanuele123')
con.autocommit = True

cur = con.cursor()

tableName = 'temporarytable'
statement = """
SELECT EXISTS (
   SELECT 1
   FROM   pg_tables
   WHERE  tablename = '%s'
   );
"""%tableName
cur.execute(statement)
tmp = cur.fetchall()[0][0]
if tmp == True:   ## if the table exists
    tn = AsIs(tableName)
    statement = """DROP TABLE %s;
    """%tn
    cur.execute(statement)
    engine = create_engine(r'postgresql+psycopg2://postgres:Emanuele123@localhost:5432/tempscaling')
    scalingData.to_sql(tableName, engine) ## Create Table scalingData
else:
    engine = create_engine(r'postgresql+psycopg2://postgres:Emanuele123@localhost:5432/tempscaling')
    scalingData.to_sql(tableName, engine) ## Create Table scalingData
cur.close()
con.close()

In [22]:
### Add constraint
con = None
con = ps.connect(dbname = dbname, user='postgres', host='localhost', password='Emanuele123')
con.autocommit = True
cur = con.cursor()

statement = """  
ALTER TABLE temporarytable 
ADD CONSTRAINT tempscaling_pkey PRIMARY KEY (index);
"""
cur.execute(statement)
cur.close()
con.close()

In [26]:
dbname = 'braziliancities'  #DATABASE NAME
con.set_isolation_level(ISOLATION_LEVEL_AUTOCOMMIT)
cur = con.cursor()

statement= """ SELECT 1 from pg_database WHERE datname = '%s'; 
""" %dbname
cur.execute(statement)
cur.execute('CREATE DATABASE ' + dbname)
cur.close()
con.close()

AttributeError: 'NoneType' object has no attribute 'set_isolation_level'

In [25]:
### Add constraint
con = None
con = ps.connect(dbname = dbname, user='postgres', host='localhost', password='Emanuele123')
dbname = 'braziliancities'  #DATABASE NAME
con.set_isolation_level(ISOLATION_LEVEL_AUTOCOMMIT)
cur = con.cursor()

statement= """ SELECT 1 from pg_database WHERE datname = '%s'; 
""" %dbname
cur.execute(statement)
cur.execute('CREATE DATABASE ' + dbname)
cur.close()
con.close()

OperationalError: FATAL:  database "braziliancities" does not exist

In [23]:
### Create Data Table
con = ps.connect(dbname='braziliancities', user='postgres', host='localhost', password='Emanuele123')
con.set_isolation_level(ISOLATION_LEVEL_AUTOCOMMIT)
cur = con.cursor()
tableName = "scalingData"
### Statement for creating primary KEY
stat1 = """
        CREATE TABLE "%s"(
            id serial NOT NULL,
            CONSTRAINT braziliancities_pkey PRIMARY KEY (id)
        )
      """%tableName
cur.execute(stat1)
cur.close()
con.close()

OperationalError: FATAL:  database "braziliancities" does not exist

In [ ]:
### Populate table scalingData
tmp = scalingData.dtypes
con = None
con = ps.connect(dbname = 'braziliancities', user='postgres', host='localhost', password='Emanuele123')
con.autocommit = True
cur = con.cursor()
#for i,j in enumerate(header):
for i in range(4,5):
    j = header[i]
    stat = """  ALTER TABLE "scalingData" ADD COLUMN "%s" """%j
    if tmp[i] == 'int64':
        stat = stat+'bigint'
    if tmp[i] == 'float64':
        stat = stat+'double precision'
    if tmp[i] == 'O':
        stat = stat+'text'
    ### Add Column
    cur.execute(stat)
    #cur.close()
    stat1 = """INSERT INTO "scalingData" ("%s") SELECT "%s" FROM temporarytable"""%(j,j)
    #cur = con.cursor()
    cur.execute(stat1)
cur.close()    
con.close()

In [ ]:
stat = """  ALTER TABLE "scalingData" ADD COLUMN "abbreviationOfState" """
stat = stat+'text'
con = ps.connect(dbname = 'braziliancities', user='postgres', host='localhost', password='Emanuele123')
con.autocommit = True
cur = con.cursor()
cur.execute(stat)

In [ ]:
cur.close()
stat1 = """INSERT INTO "scalingData" ("abbreviationOfState") SELECT "abbreviationOfState" FROM temporarytable"""
cur = con.cursor()
cur.execute(stat1)

In [ ]:
con = ps.connect(dbname = 'braziliancities', user='postgres', host='localhost', password='Emanuele123')
con.autocommit = True
cur = con.cursor()
cur.execute(stat1)

In [ ]:
stat1

In [ ]:
stat

In [ ]:
stat1

In [ ]:
name = "provaID"
stat = """  ALTER TABLE datascaling ADD COLUMN "%s" bigint"""%name
### Add Column
con = None
con = ps.connect(dbname = 'braziliancities', user='postgres', host='localhost', password='Emanuele123')
con.autocommit = True
cur = con.cursor()
cur.execute(stat)
cur.close()
con.close()

In [ ]:
stat = """  ALTER TABLE "scalingData" ADD COLUMN "nInhabitants" bigint"""

In [ ]:
### Add Column
con = None
con = ps.connect(dbname = 'braziliancities', user='postgres', host='localhost', password='Emanuele123')
con.autocommit = True
cur = con.cursor()
cur.execute(stat)
cur.close()
con.close()

In [ ]:
stat = """INSERT INTO "scalingData" ("nInhabitants") SELECT "numberOfInhabitants" FROM temporarytable"""

In [ ]:
### Copy Column
con = None
con = ps.connect(dbname = 'braziliancities', user='postgres', host='localhost', password='Emanuele123')
con.autocommit = True
cur = con.cursor()
cur.execute(stat)
cur.close()
con.close()

In [ ]:
stat = """  ALTER TABLE "scalingData" ADD COLUMN "surfaceOfAdministrativeArea_km2" double precision"""
### Add Table
con = None
con = ps.connect(dbname = 'braziliancities', user='postgres', host='localhost', password='Emanuele123')
con.autocommit = True
cur = con.cursor()
cur.execute(stat)
cur.close()
stat = """INSERT INTO "scalingData"("surfaceOfAdministrativeArea_km2") 
        SELECT "surfaceOfAdministrativeArea_km2" FROM temporarytable
        """
cur = con.cursor()
cur.execute(stat)
cur.close()
con.close()

In [ ]:
if tmp[0]== 'int64':
    print "ciao"

In [ ]:
header.