In [1]:
from __future__ import division

import warnings
warnings.filterwarnings('ignore')
%config InlineBackend.figure_format = 'retina'
%pylab inline

import numpy as np
import pandas as pd

import sql  # the patched version (file is named sql.py)
from sqlalchemy import create_engine


import time
from datetime import datetime



import psycopg2 as ps
from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT
from psycopg2.extensions import AsIs

import os
from os import listdir
from os.path import isfile, join

Populating the interactive namespace from numpy and matplotlib

In [2]:
### Read Data
scalingData = pd.read_csv('brScaling.csv')
header = list(scalingData.columns.values) ### name of the columns
scalingData.head(10)

,idOfMunicipality,abbreviationOfState,nameOfMunicipality,numberOfInhabitants,surfaceOfAdministrativeArea_km2,GrossDomesticProduct_brReaisPerYear,LenghtOfStreetNetwork_thousandKm,populationDensity_inhabitantsPerkm2,numberOfHealthFacilities,numberOfHospitalBeds,...,volumeOfColectedSewage_km3PerYear,frequencyOfSamplingOfSewageEffluent,numberOfUrbanInhabitantsServedByWasteCollection,numberOfScavengersInWasteCollection,totalMassOfWasteCollected_tonsPerYear,numberOfWasteCollectionTrucks,wasteCollectionRevenue_brReaisPeryear,numberOfWorkersInWasteCollection,lengthOfSidewalkSwept_kmPerYear,abbreviationOfRegion
0,110001,RO,Alta Floresta D'Oeste,24392,7067.0,149763.908343,0.626889,3.451535,11.0,51.0,...,NaN,58.0,20408.0,0.0,NaN,3.0,995000.00,23.0,NaN,Norte
1,110002,RO,Ariquemes,90353,4426.6,577129.806754,5.019075,20.411377,34.0,234.0,...,NaN,3306.0,68000.0,0.0,NaN,8.0,2260744.99,103.0,1440.0,Norte
2,110003,RO,Cabixi,6313,1314.4,44351.841949,0.741329,4.802952,6.0,25.0,...,NaN,1812.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Norte
3,110004,RO,Cacoal,78574,3792.8,521357.786910,3.412823,20.716621,30.0,178.0,...,1131.08,1205.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Norte
4,110005,RO,Cerejeiras,17029,2783.3,121554.668913,1.596254,6.118277,11.0,150.0,...,NaN,2375.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Norte
5,110006,RO,Colorado do Oeste,18591,1451.1,100920.009889,1.899826,12.811660,9.0,60.0,...,NaN,3257.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Norte
6,110007,RO,Corumbiara,8783,3060.3,87032.907982,1.134662,2.869980,2.0,0.0,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Norte
7,110008,RO,Costa Marques,13678,4987.2,60422.676024,1.388312,2.742621,11.0,36.0,...,NaN,3031.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Norte
8,110009,RO,Espigï¿½o D'Oeste,28729,4518.0,163629.110799,0.984898,6.358787,11.0,65.0,...,NaN,3221.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Norte
9,110010,RO,Guajarï¿½-Mirim,41656,24855.8,290092.774447,3.291530,1.675907,19.0,136.0,...,215.60,2569.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Norte

In [15]:
con = ps.connect(dbname='postgres', user='postgres', host='localhost', password='Emanuele123')

In [16]:
dbname = 'tempscaling'  #DATABASE NAME
con.set_isolation_level(ISOLATION_LEVEL_AUTOCOMMIT)
cur = con.cursor()

statement= """ SELECT 1 from pg_database WHERE datname = '%s'; 
""" %dbname
cur.execute(statement)
tmp = cur.fetchall()[0][0]
if tmp == 0:  ## if database does not exist, create database
    cur.execute('CREATE DATABASE ' + dbname)
cur.close()
con.close()

In [17]:
stat1 = """
        CREATE TABLE brazilianCities(
            id serial NOT NULL,
            numberOfInhabitants integer,
            CONSTRAINT brazilianCities_pkey PRIMARY KEY (id)
        )
        """

In [18]:
con = ps.connect(dbname='tempscaling', user='postgres', host='localhost', password='Emanuele123')
dbname = 'tempscaling'  #DATABASE NAME
con.set_isolation_level(ISOLATION_LEVEL_AUTOCOMMIT)
cur = con.cursor()
cur.execute(stat1)

In [13]:
con.close()

In [6]:
municipalityID = pd.DataFrame()
municipalityID['id'] = scalingData['idOfMunicipality']

In [11]:
con = None
con = ps.connect(dbname = dbname, user='postgres', host='localhost', password='Emanuele123')
con.autocommit = True

cur = con.cursor()

tableName = 'municipalityid'
statement = """
SELECT EXISTS (
   SELECT 1
   FROM   pg_tables
   WHERE  tablename = '%s'
   );
"""%tableName
cur.execute(statement)
tmp = cur.fetchall()[0][0]
if tmp == True:   ## if the table exists
    tn = AsIs(tableName)
    statement = """DROP TABLE %s;
    """%tn
    cur.execute(statement)
    engine = create_engine(r'postgresql+psycopg2://postgres:Emanuele123@localhost:5432/tempscaling')
    municipalityid.to_sql(tableName, engine) ## Create Table scalingData
else:
    engine = create_engine(r'postgresql+psycopg2://postgres:Emanuele123@localhost:5432/tempscaling')
    municipaplityid.to_sql(tableName, engine) ## Create Table scalingData
cur.close()
con.close()

NameError: name 'municipaplityid' is not defined

In [ ]:
municipalityID